.pole {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.trafficLight{
    width: 10px;
    height: 300px;
    background-color: #333;
    margin-top: 20px;
    position: relative;
}

.cover {
    width: 80px;
    height: 20px;
    background-color: #333;
    position: absolute;
    top: -20px;
    left: -1px;
    border-radius: 10px 10px 0 0;
}

.Lights {
    background-color: #555;
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.red-glow {
    background-color: red;
    box-shadow: 0 0 10px red;
}

.yellow-glow {
    background-color: yellow;
    box-shadow: 0 0 10px yellow;
}

.green-glow {
    background-color: green;
    box-shadow: 0 0 10px green;
}

.purple-glow {
    background-color: purple;
    box-shadow: 0 0 10px purple;
}

.button img {
    width: 30px;
    height: 30px;
}
